<div class="footer">
  <div class="footer-links">
    <div></div>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#105;&#101;&#114;&#114;&#105;&#99;&#107;&#64;&#100;&#101;&#108;&#97;&#103;&#101;&#46;&#100;&#101;&#118;"><i class="far fa-paper-plane"></i></a>
    <a href="#" target="_blank"><img src="https://res.cloudinary.com/dovu27lye/image/upload/v1583853815/portfolio/cv_cgapyh.png" id="cv-img"/></a>
    <a href="https://www.linkedin.com/in/pierrick-delage/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <small class="">
      <div>&copy;
        <script>document.write(new Date().getFullYear());</script>
        Sarah Rhee. All Rights Reserved.
      </div>
      <div>Designed &amp; Developed by
        <a href="https://www.delage.dev/" target="_blank">
        delage.dev</a>
    </small>
    </div>
  </div>
</div>