<div class="footer">
  <div class="footer-links">
    <div></div>
    <a href="#"><i class="far fa-paper-plane"></i></a>
    <a href="#" target="_blank"><img src="https://res.cloudinary.com/dovu27lye/image/upload/v1583853815/portfolio/cv_cgapyh.png" id="cv-img"/></a>
    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <small class="">
      <div>&copy;
        2020
        Sarah Rhee. All Rights Reserved.
      </div>
      <div>Designed &amp; Developed by
        <a href="https://www.delage.dev/" target="_blank">
        delage.dev</a>
    </small>
    </div>
  </div>
</div>