<div class="page-home">	
	<div class="main">
		<div class="main-text">
			<h1>Hello. My name is Sarah and I have creative ideas</h1>
			<div class="btn btn-outline-light">View My Work</div>
		</div>
	</div>
</div>